/* CSS Document */

/*copyright lynda.com 2012
feel free to use these styles as you wish
attribution would be nice, but not required
*/

/* roux academy color palette
#FFCF7D     rgb(255, 207, 125)  LIGHT-ORANGE
#FBAE2C     rgb(251, 174, 44)  BASE-ORANGE
#DA8C07     rgb(218, 140, 7)  MID-ORANGE
#AB6C00     rgb(171, 108, 0)  DARK-ORANGE

#B683BA      rgb(182, 131, 186)  LIGHT LAVENDER
#A858A3    rgb(168, 88, 163)  DARK LAVENDER
#0263AE    rgb(173, 169, 130)  DARK TAN
#D8D5BC   rgb(2, 99, 174)  DARK BLUE
#F9E482   rgb(249, 228, 130)  LIGHT YELLOW
#BFBFBF rgb(191, 191, 191) LIGHT GRAY
#414042    rgb(65, 64, 66)  DARK GRAY
*/
/*Font declarations*/
@font-face {
    font-family: 'Bitter';
    src: url('../_fonts/Bitter-Regular-webfont.eot');
    src: url('../_fonts/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Bitter-Regular-webfont.woff') format('woff'),
         url('../_fonts/Bitter-Regular-webfont.ttf') format('truetype'),
         url('../_fonts/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bitter';
    src: url('../_fonts/Bitter-Italic-webfont.eot');
    src: url('../_fonts/Bitter-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Bitter-Italic-webfont.woff') format('woff'),
         url('../_fonts/Bitter-Italic-webfont.ttf') format('truetype'),
         url('../_fonts/Bitter-Italic-webfont.svg#BitterItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Bitter';
    src: url('../_fonts/Bitter-Bold-webfont.eot');
    src: url('../_fonts/Bitter-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Bitter-Bold-webfont.woff') format('woff'),
         url('../_fonts/Bitter-Bold-webfont.ttf') format('truetype'),
         url('../_fonts/Bitter-Bold-webfont.svg#BitterBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
    src: url('../_fonts/DroidSans-webfont.eot');
    src: url('../_fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/DroidSans-webfont.woff') format('woff'),
         url('../_fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../_fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
    src: url('../_fonts/DroidSans-Bold-webfont.eot');
    src: url('../_fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../_fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../_fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html {
	background: rgb(65, 64, 66);
}
body {
	font: 100% DroidSans, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight:normal;
	font-style:normal;
}
article {
	clear: both;
	margin-bottom: 3px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	background: url(../_images/diag_pattern.png);
}
p {
	margin-bottom: 1em;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
/* Global classes */

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
	clear: right;
}
.cl {
	clear: left;
}
.cb {
	clear: both;
}
.nrm {
	margin-right: 0;
}
.orange {
	text-transform: uppercase;
	color: rgb(251, 174, 44);
	font-weight: bold;
}
.lightOrangeBackground{
    background-color: rgb(255, 207, 125);
}
.orangeBackground{
    background-color: rgb(251, 174, 44);
}
.midOrangeBackground{
    background-color: rgb(218, 140, 7);
}
.darkOrangeBackground{
    background-color: rgb(171, 108, 0);
}
.headerBackground{
    background-color: #D35400;
 }
.filterBackground{
    background-color: #ECF0F1;
     border-bottom: 3px solid #7b7f80;
 }
.graphBackground{
     background-color: #D35400;
    background-color: #ECF0F1;
 }
.footerBackground{
    background-color: #444;
}




/*#FFCF7D     rgb(255, 207, 125)  LIGHT-ORANGE*/
/*#FBAE2C      rgb(251, 174, 44)  BASE-ORANGE*/
/*#DA8C07     rgb(218, 140, 7)  MID-ORANGE*/
/*#AB6C00     rgb(171, 108, 0)  DARK-ORANGE*/




.blue {
	text-transform: uppercase;
	color: rgb(2, 99, 174);
	font-weight: bold;
}
.lavender {
	text-transform: uppercase;
	color: rgb(168, 88, 163);
	font-weight: bold;
}
.more {
	display: block;
}
/*layout styles*/ 

/*header styles*/
div > h1{
    width: 440px;
    padding-right: 10px;
    color: #444;
    font: 2.5em/45px Bitter ,sans-serif;
}
div > h2{
    width: 440px;
    padding-right: 10px;
    color: #e8e8e8;
    font: 1.8em/45px Bitter ,sans-serif;
}
.img-header{
    padding-top: 10px;
    height: 100px;
    width:auto;
}
.headerDim{
    padding-top: 45px;
    padding-bottom: 45px;
}
.img-rounded{
    margin-top:-20px;
    height:60px;
    width: auto;
}

.inputPaddingRight{
    padding-right: 0;
}
.inputPaddingLeft{
    padding-left: 0;
}
.containerPadding{
    padding: 0;
}
.filterContainerPad{
    width: 100%;
}
.filterDim{
    float: left;
    margin:0 auto;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 12px;
}
/*Article styles*/
.articleDim{
    margin:0;
    height: 29px;
    padding-top: 15px;
    padding-bottom: 12px;
}
.pTop{
    padding-top: 50px;
    font: 1.8em/45px Bitter ,sans-serif;
}

.graphArea{
    height: 540px;
}
footer  p{
color: #CCC;
}
footer  h4{
font: 1em Bitter ,sans-serif;
color: #CCC;
}
.footerPanel{
    background-color: #CCCCCC;
    margin-top: 23px;
}
.footerPanel p {
    padding: 10px 10px 0 10px;
    color: #2e2e2e;

}

